body{
  padding: 0;
  margin: 0;

}
.dark,.light{
min-height: 100vh;
}

.light .header{
height: 3rem;
display: flex;
background-color: #e8e8e8;
align-items: center;
justify-content: space-around;
padding: 0 9rem;
}
.light .logo{
  color: rgb(190, 68, 52);
  font-size: larger;
}
.light .routes{
  min-height: 30vh;
}
.light .footerText{
  text-align: center;
  font-size: larger;
  margin-top: 3rem;
  border-top: #3a3a3a 1px solid;
  padding-top: 2rem;
}
.light .mail{
  color: rgb(8, 138, 140);
}
.light .footerContent{
  display: flex;
  justify-content: space-between;
  margin: 0 12rem;
}
.light .footerTexts{
  font-size: larger;
  color: rgb(8, 138, 140);
}
.light .service-container{
  padding: 1rem 1rem 2rem 2rem;
   display: grid;
   grid-template-columns: auto auto auto;
}
.light .servicePage{
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.light .pic{
  width: auto;
  height: 500px;
}
.light .btn{
  padding: 1rem 2rem;
  color: rgb(8, 138, 140);
  border-radius: 5px;
  border-color: rgb(8, 138, 140);
  background-color: #ffff;
  font-size: medium;
}
.light .service-card{
  margin-top: 3rem;
}
.light .title{
  font-size: x-large;
  margin: 3rem 0 0 2rem;
}
.light .homePage{
  margin: 10rem 5rem 0 10rem;
}
.light .homeHeader{
  font-size: 50px;
  margin-bottom: 5rem;
  color: rgb(8, 138, 140);
}
.light .homeText{
  font-size: 20px;
  word-spacing: 2px;

}
.light .servicesHeader, .serviceHeader{
  font-size: 30px;
  margin: 5rem 0 0 2rem;
  color: rgb(8, 138, 140);
}
.light .servicesText, .serviceText{
  font-size: 20px;
  word-spacing: 2px;
  margin-left: 1rem;
  padding: 1rem;
}
.light .link{
  text-decoration: none;
  color: rgb(8, 138, 140);
}

.light .toggle{
  padding: 4px;
  color: rgb(8, 138, 140);

}
.light .serviceTitle{
  font-size: larger;
  color: rgb(8, 138, 140);
}
.light .serviceDescription{
  font-size: large;
  margin: 1rem 4rem 0 0;
}

/*  -------   Dark theme  -------------------------------- */

.dark{
  color:white;
  background-color: #3a3a3a;
}
  
.dark .header{
  height: 3rem;
  display: flex;
  background-color: #1d1d1d;
  align-items: center;
  justify-content: space-around;
  padding: 0 9rem;
  }
  .dark .logo{
    color: rgb(128, 47, 36);
    font-size: larger;
  }
  .dark .routes{
    min-height: 30vh;
  }
  .dark .footerText{
    text-align: center;
    font-size: larger;
    margin-top: 3rem;
    border-top: #dadada 1px solid;
    padding-top: 2rem;
  }
  .dark .mail{
    color: rgb(8, 138, 140);
  }
  .dark .footerContent{
    display: flex;
    justify-content: space-between;
    margin: 0 12rem;
  }
  .dark .footerTexts{
    font-size: larger;
    color: rgb(8, 138, 140);
  }
  .dark .service-container{
    padding: 1rem 1rem 2rem 2rem;
     display: grid;
     grid-template-columns: auto auto auto;
  }
  .dark .servicePage{
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  .dark .pic{
    width: auto;
    height: 500px;
  }
  .dark .btn{
    padding: 1rem 2rem;
    color: rgb(8, 138, 140);
    border-radius: 5px;
    border-color: rgb(8, 138, 140);
    background-color: #ffff;
    font-size: medium;
  }
  .dark .service-card{
    margin-top: 3rem;
  }
  .dark .title{
    font-size: x-large;
    margin: 3rem 0 0 2rem;
  }
  .dark .homePage{
    margin: 10rem 5rem 0 10rem;
  }
  .dark .homeHeader{
    font-size: 50px;
    margin-bottom: 5rem;
    color: rgb(8, 138, 140);
  }
  .dark .homeText{
    font-size: 20px;
    word-spacing: 2px;
  
  }
  .dark .servicesHeader, .serviceHeader{
    font-size: 30px;
    margin: 5rem 0 0 2rem;
    color: rgb(8, 138, 140);
  }
  .dark .servicesText, .serviceText{
    font-size: 20px;
    word-spacing: 2px;
    margin-left: 1rem;
    padding: 1rem;
  }
  .dark .link{
    text-decoration: none;
    color: rgb(8, 138, 140);
  }
  
  .dark .toggle{
    padding: 4px;
    color: rgb(8, 138, 140);
  
  }
  .dark .serviceTitle{
    font-size: larger;
    color: rgb(8, 138, 140);
  }
  .dark .serviceDescription{
    font-size: large;
    margin: 1rem 4rem 0 0;
  }